.header {
  width: 100%;
  padding: calc(46 / 1280 * 100vw) 0 calc(40 / 1280 * 100vw);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  grid-area: header;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 46px 0 36px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: calc(46 / 425 * 100vw) 0 calc(36 / 425 * 100vw);
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: calc(28 / 320 * 100vw) 0 calc(28 / 320 * 100vw);
  }
}
